$("img[center]").attr("uid", "<%= @center_image_uid %>")
				.attr("src", "http://graph.facebook.com/<%= @center_image_uid %>/picture?type=large")
				.attr("data-original-title", "<%= @user %>")
				.attr("title", "<%= @user %>")
				.attr("data-content", "<%= @user.education %><br/><br/><%= @user.major %>");

$(".polaroid h6").text("<%= @user %> ");
$("ul.thumbnails").html("<%= j render "home/thumbs", :thumb_uids => @thumb_uids %>");



$("#notify-new-match").jmNotify();

if($("div#alerts a span.badge").length) {
	var next_val = parseInt($("div#alerts a span.badge").text()) + 1;
	$("div#alerts a span.badge").text(next_val);
}	
else
	$("div#alerts a span.caret").before("<span class='badge badge-important' style='background-color:#B94A48;'><%= current_user.new_match_count %></span>&nbsp; ");

