<div class="container">
	<div class="row">
	
  <div class="span3">
	<div class="profile-main-photo-container">
  <img src="http://graph.facebook.com/<%= current_user.uid %>/picture?type=large" alt="Picture?type=large">
</div>
<br>
<div style="margin-bottom:8px"></div>


<div class="score-container">
  <a href="/users/ipk9vr4j/following"><h4>Matches <span id="match_count">(<%= current_user.matches.count %>)</span></h4></a> 
	<div id="matches">
		<%= render :partial => 'users/match', :collection => @matches, :as => :match %>		
	</div>
	<%= will_paginate @matches %>
</div>
  </div>

  <div style="margin-bottom:20px; position:absolute; left: 305px;" class="span11">
	
	
	<div class="row">

	  		<div class="span11">
				

				<div class="thumbnail well" style="height:580px;">

					<div class="row-fluid" style="margin-left:30px;">

			            <ul class="thumbnails" style="padding-top:20px;">
			              <%= render "thumbs", :thumb_uids => @thumb_uids %>
			            </ul>
			            
          			</div>
          			<hr style="position:relative; bottom:20px;"/>
          		
                 			
                			<div style="padding:38px 49px 44px 0px;">
      			
      				<div  style="margin-left: 336px; position:absolute; top: 135px; left: 2px;" >

    		              <a class="btn btn-circle btn-cq" rel="tooltip" title="Previous" href="#" id="prev"><i class="icon-chevron-left"></i></a>
	        	          <a class="btn btn-circle btn-danger" style="margin-left:11px;" rel="tooltip" title="Match!" href="#" id="match"><i class="icon-heart"></i></a>
                  		  <a class="btn btn-circle btn-cq" style="margin-left:11px;" rel="tooltip" href="#" title="Next"  id="next"><i class="icon-chevron-right"></i></a>

              		</div>
                 	</div>      

                 	<div class="polaroid">
						<h6><%= @user %></h6>
						<img title="<%= @user %>" data-content="<%= @user.education %><br/><br/>Major: <%= @user.major %>" rel="popover" uid="<%= @center_image_uid %>" src="http://graph.facebook.com/<%= @center_image_uid %>/picture?type=large" center>
					</div>

        </div>

    				
    				

                
	                <!--     <table> <tr>
					<td><a class="btn btn-circle btn-danger"><i class="icon-heart"></i></a></td>
					<td><a class="btn btn-circle btn-co"><i class="icon-beaker"></i></a></td>
					<td><a class="btn btn-circle"><i class="icon-user"></i></a></td>
					<td><a class="btn btn-circle btn-cd"><i class="icon-comment"></i></a></td>
					<td><a class="btn btn-circle btn-ac"><i class="icon-flag"></i></a></td>
					<td ></td>
					<td ><a class="btn btn-circle btn-cq"><i class="icon-chevron-right"></i></a></td>
					</tr></table> -->
                  </div>
                </div>

			</div>
 


<script>



$(document).on('click', "ul.thumbnails a, ul.ui-autocomplete a", function (e) {
	e.preventDefault();
	var uid = $(this).find("img").attr("uid");
	var idx = $(this).find("img").attr("idx");
	$.post("<%= goto_users_path %>", {uid: uid, idx: idx});
});

$("a#match").click(function(){
	var uid = $("img[center]").attr("uid");
	$.post("<%= like_users_path %>", {uid: uid});
});

$("a#prev").click(function(){
	var uid = $("img[center]").attr("uid");
	$.post("<%= prev_users_path %>", {uid: uid});
});

$("a#next").click(function(){
	var uid = $("img[center]").attr("uid");
	$.post("<%= next_users_path %>", {uid: uid});
});

    $("#searchInput").autocomplete({
            source: "<%= autocomplete_users_path %>",
            minLength: 1
        }).data( "autocomplete" )._renderItem = function( ul, item ) {
            var inner_html = '<p style="padding:5px;  border: 1px solid #DDDDDD; border-radius: 4px 4px 4px 4px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);"><img  idx="' + item.idx + '" uid="' + item.uid + '" error="" src="' + item.avatar + '"> ' + item.label + '<br/></p>';
            return $('<a href="#"><li circle="none"></li></a>"')
                .append(inner_html)
                .data( "item.autocomplete", item )
                .appendTo( ul );
    };


$("#reset_match_count").click(function(e){
	e.preventDefault();
	$.post("<%= reset_new_match_count_users_path %>", {});
});

</script>