<div class="container">
	<div class="row">
	
  <div class="span3">
	<div class="profile-main-photo-container">
  <img src="http://graph.facebook.com/568675458/picture?type=large" alt="Picture?type=large">
</div>
<br>
<div style="margin-bottom:8px"></div>


<div class="score-container">
  <a href="/users/ipk9vr4j/following"><h4>Matches (1)</h4></a> 
        <div class="friend-unit">
	       	<div class="friend-photo">
			  <a href="/users/k2qjkvf1">
			    <img src="http://graph.facebook.com/1381200197/picture?type=square" alt="Picture?type=square">
</a>			</div>
			<div class="friend-name">
			   <a href="/users/k2qjkvf1">
			     Alex Ingram
</a>			</div>
			<div class="float-break"></div>
	    </div>
</div>
  </div>

  <div style="margin-bottom:20px; position:absolute; left: 305px;" class="span11">
	
	
	<div class="row">

	  		<div class="span11">
				

				<div class="thumbnail well">

					<div class="row-fluid" style="margin-left:30px;">
			            <ul class="thumbnails">
			              <%= render "thumbs", :thumb_uids => @thumb_uids %>
			            </ul>
          			</div>


          		  	<br/><br/>
                	<img alt="300x200"  uid="<%= @center_image_uid %>" src="http://graph.facebook.com/<%= @center_image_uid %>/picture?type=large" center>
    				
    				<div style="padding:38px 49px 44px 0px;">
      			
      				<div  style="margin-left: 336px;" >

    		              <a class="btn btn-circle btn-cq" rel="tooltip" title="Previous" href="#" id="prev"><i class="icon-chevron-left"></i></a>
	        	          <a class="btn btn-circle btn-danger" style="margin-left:10px;" rel="tooltip" title="Match!" href="#" id="match"><i class="icon-heart"></i></a>
                  		  <a class="btn btn-circle btn-cq" style="margin-left:10px;" rel="tooltip" href="#" title="Next"  id="next"><i class="icon-chevron-right"></i></a>

              		</div>
                 	</div>

                
	                <!--     <table> <tr>
					<td><a class="btn btn-circle btn-danger"><i class="icon-heart"></i></a></td>
					<td><a class="btn btn-circle btn-co"><i class="icon-beaker"></i></a></td>
					<td><a class="btn btn-circle"><i class="icon-user"></i></a></td>
					<td><a class="btn btn-circle btn-cd"><i class="icon-comment"></i></a></td>
					<td><a class="btn btn-circle btn-ac"><i class="icon-flag"></i></a></td>
					<td ></td>
					<td ><a class="btn btn-circle btn-cq"><i class="icon-chevron-right"></i></a></td>
					</tr></table> -->
                  </div>
                </div>

			</div>
 <hr/>
<p style="text-align:center;" class="footer">&copy; MatchU.Me 2011-2012</p>				

<script>

$("a#match").click(function(){
	var uid = $("img[center]").attr("uid");
	
	$.post("<%= like_users_path %>", {uid: uid});
});

$("a#prev").click(function(){
	var uid = $("img[center]").attr("uid");
	$.post("<%= prev_users_path %>", {uid: uid});
});

$("a#next").click(function(){
	var uid = $("img[center]").attr("uid");
	$.post("<%= next_users_path %>", {uid: uid});
});

    $("#searchInput").autocomplete({
            source: "<%= autocomplete_users_path %>",
            minLength: 1
        }).data( "autocomplete" )._renderItem = function( ul, item ) {
            var inner_html = '<p><img error="" src="' + item.avatar + '"> ' + item.label + '<br/></p>';
            return $('<a href="' + item.link + '"><li circle="none"></li></a>"')
                .data( "item.autocomplete", item )
                .append(inner_html)
                .appendTo( ul );
    };


</script>