<!DOCTYPE html>
<html>
<head>
  <title>MatchU.Me</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <style>
  html, body {
 
    height: 100%;
}

body{
color: white;
background: #7db9e8; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #7db9e8 0%, #7db9e8 1%, #1e5799 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#7db9e8), color-stop(1%,#7db9e8), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #7db9e8 0%,#7db9e8 1%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #7db9e8 0%,#7db9e8 1%,#1e5799 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #7db9e8 0%,#7db9e8 1%,#1e5799 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #7db9e8 0%,#7db9e8 1%,#1e5799 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */





}

/* Social Buttons */
a.well {
    background: #63c918;
    border: none;
    border-bottom: 1px solid #b4e391;
    box-shadow: inset 0 2px 5px #339900;
    padding: 7px 10px;
    font-size: 12px;
    color: #fbfbfb;
}
a.well:hover, a.well:active, a.well:focus {
    color: white;
}

/* Navbar */
.navbar-inner { 
    background: #63c918;
    filter: none;
    border: none;
}
.navbar .brand {
    font-weight: 100;
    margin: 0;
    letter-spacing: 1.5;
}
.navbar .brand > span {
    color: yellow;
}
.navbar .brand, .navbar .nav > li > a {
    text-shadow: none;
    color: white;
}
.navbar .nav > li:hover {
    border-top: 3px solid yellow;
    line-height: 14px; 
}
.navbar .nav > li > a:hover, .navbar .nav > li > a:active, .navbar .nav > li > a:visited {
    color: white;
}
.navbar-fixed-bottom .dropdown-menu {
    top: auto;
    bottom: 100%;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
    background-color: #ff0;
    filter: none;
    background-image: none;
    color: black;
}

/* Countdown */
.container { position: relative; min-height: 100%; height: 100%; } /* Positioning the container relatively allow it's children to be positioned absolutely within it. */
.centered {
    position: absolute;
    top: 30%;
}
div#countdown {
    display: block;
    padding: 0 20px;
    width: 900px;
    margin: 0 auto;
}
div#countdown h1 {
    line-height: 1;
    margin-right: 20px;
    margin-left: -3px;
    color: #fafafa;
}
div#countdown .message { 
    float: left;
    max-width: 500px;
}
ul#timer {
    margin: 0;
    padding: 0;
}
ul#timer > li {
    float: left;
    text-align: center;
    margin: 5px;
    list-style: none;
    padding: 0;
    color: #e5e5e5;
    
}
ul#timer > li {
    
}
ul#timer > li > span {
    display: block;
    font-size: 11px;
    line-height: 18px;
    border-radius: 4px;
    padding: 5px 5px 0;
    color: #fff;
    
}
ul#timer > li > span.number {
    font-size: 48px;
    line-height: 48px;
    border: none;
    padding: 15px 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    color: #fafafa;
    border-top: 1px solid #555;
    border-bottom: 1px solid #000;
    text-shadow: 0 1px 0 #555, 0 -1px #000;
    background: #2d2d2d; /* Old browsers */
    background: -moz-linear-gradient(top,  #2d2d2d 0%, #595959 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d2d2d), color-stop(100%,#595959)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #2d2d2d 0%,#595959 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #2d2d2d 0%,#595959 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #2d2d2d 0%,#595959 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #2d2d2d 0%,#595959 100%); /* W3C */
}

</style>
<script>
var Timer,
        TotalSeconds;
        
    function CreateTimer(TimerID, Time) {
        Time.month = Time.month - 1; //This adjusts for new Date() starting months at 0
        endDate = new Date(Time.year,Time.month,Time.day);
        now = new Date();
        Time = endDate - now;
        if(Time <= 0) {
            Time = 0;
            return; //This stops the timer from being inserted if the time is up.
        } 
    
        Timer = document.getElementById(TimerID);
        TotalSeconds = Math.floor(Time / 1000);
        
        UpdateTimer()
        //window.setTimeout('Tick()', 1000);  
    }

    
    function Tick() {
        if (TotalSeconds <= 0) {
            return;
        }
        
        TotalSeconds -= 1;
        UpdateTimer()
        window.setTimeout("Tick()", 1000);
    }
    
    function UpdateTimer() {
        var Seconds = TotalSeconds;
        var Days = Math.floor(Seconds / 86400);
        Seconds -= Days * 86400;
        var Hours = Math.floor(Seconds / 3600);
        Seconds -= Hours * (3600);
        var Minutes = Math.floor(Seconds / 60);
        Seconds -= Minutes * (60);

        var TimeStr = '<li><span class="number">' + LeadingZero(Days) + '</span><span>Columbia Students</span></li>' + '<li><span class="number">' + LeadingZero(Hours) + '</span><span>Matches</span></li>';
        
        Timer.innerHTML = TimeStr;
    }
    
    function LeadingZero(Time) {
        return (Time < 10) ? "0" + Time : + Time;
    }

jQuery(document).ready(function($) {
        CreateTimer("timer", {
            year: 2013,
            month: 9,
            day: 28
        });
    });
</script>
</head>
<body>	
	   <div class="container">
            
            <div class="centered">
                    
                <div id="countdown">
                <h1 style="font-size: 40px;">

                <span style="color:#c2e1ff;">Match U.Me</span>
                
                </h1>
                <h2>Columbia's Digital Wingman.</h2>
                    <div class="message">
                        <br/>
                        <p class="lead">Click "Match!" on your crushes. If your crush clicks "Match!" back, then the new match is revealed to you and your crush. Unless it's mutual, your interest remains <em><b>anonymous</b></em>. </p>
                        <!-- Inserts links to social pages here -->
                        <a href="<%= signin_path %>"><%= image_tag "sign_up_with_facebook.png" %></a>
                        
                    </div>
                    <!-- Countdown container, do not delete -->
                    <ul id="timer" class="pull-right"></ul>         
                </div>
            </div>
        
           
        </div> 
        </div><!-- /.container -->

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '326951414053365', // App ID
      channelUrl : 'http://www.stakd.com/facebook/channel', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });
  };
  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
</script>
</body>
</html>
